@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&family=Titillium+Web:wght@200&display=swap");

body {
  background-color: #0f121f;
  background-image: url(/static/stars.png);
  background-repeat: no-repeat;
  color: #fff;
}

* {
  font-family: "Space Grotesk", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  margin: 0;
}

a,
a:hover,
a:visited {
  color: #fff;
  text-decoration: none;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

div.wrapper > h1 {
  text-align: center;
  margin: 100px auto;
  font-size: 2.4em;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 0;
}

nav {
  justify-self: end;
}

nav li {
  display: inline-block;
  list-style-type: none;
  margin-left: 20px;
}

.NavButtons {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  padding: 20px;
}

nav button {
  background: none;
  color: #fff;
  cursor: pointer;
  border: 0;
  font-size: 16px;
}

.articles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  margin: 0 auto;
}

.article-in-list:hover {
  color: purple;
  border: 3px solid purple;
  max-width: 1000px;
}

.article-in-list {
  padding: 10px;
  border: 1px solid purple;
  position: relative;
  padding-bottom: 40px;
}
.article {
  padding: 10px;
  border: 1px solid purple;
  position: relative;
  padding-bottom: 40px;
}

.article-in-list h2 {
  font-weight: bold;
  font-size: 1.2em;
}

.article-in-list .author {
  padding: 10px;
  background: purple;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  color: white;
}

.article-detail .article {
  padding: 10px;
}

.article-detail .article img {
  max-width: 100%;
}

.article-detail .article h2 {
  text-align: center;
  margin: 20px auto;
  font-size: 2em;
}

.article-detail .article h3 {
  text-align: center;
}

.article-detail .article p {
  margin: 10px 20px;
}

.site-form {
  margin-top: 60px;
  border: 1px solid purple;
  padding: 20px;
}

.site-form input,
.site-form textarea {
  display: block;
  margin: 20px 0 0px 0;
  padding: 10px;
}

a.highlight {
  border: 1px solid purple;
  padding: 10px;
  border-radius: 4px;
  color: white;
}

a.highlight:hover {
  border: 3px solid purple;
}

.helptext,
.helptext ul {
  margin: 0 auto 20px;
  color: #bbb;
  font-size: 14px;
  display: block;
}

.errorlist li {
  padding: 10px;
  list-style-type: none;
  border: 1px solid #ff5722;
  margin: 10px 0;
  color: #ff5722;
}

.errorlist {
  padding: 0;
}

.site-form input[type="submit"] {
  background: purple;
  border: 0;
  color: #fff;
  font-size: 20px;
  border-radius: 4px;
  margin: 10px 0;
}
